[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "*"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
pandas = "*"
dash-daq = "*"
scikit-learn = "*"
category = "*"
encoders = "*"
category-encoders = "*"
jupyter = "*"
pipfile-lock = "*"
sklearn = "*"

[requires]
python_version = "3"
